.section7{
    height: 100vh;

}
.card-main{
    display: flex;
justify-content: center;
padding-top: 40px;

}
.card-min{
background-color: white;
width: 23%;
height: 20%;
margin-right: 5%;
box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 10%);
}
.card1{
border-bottom: 3px solid #f4f4f4;
padding: 1rem;
}
.card2{
    padding-top: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #f4f4f4;
}
.card2-li{
    padding: 3px;
}
.card3{
    text-align: center;
    padding: 1rem;
}