.section9{
    color: #bbbbba;
    font-size: 1.2rem;
    background-color: #333333;
    height: 30vh;
}
.foot-p{
    text-align: center;
    margin-top: 5%;
}
.foot-li{
list-style: none;

}
.foot-ul{
display: flex;
}
.foot-a{
color: #777777;
text-decoration: none;
}