.section8{
    height: 100vh;
    background-color: #f4f4f4;
}
.form-box{
    right: 0;
    float: right;
}
.form{
margin-top: 8%;
font-size: 1.3rem;
width: 90%;
}

.label{
    margin-top: 50px;
    padding: 0 2%;
}
.col2{
    float: right;
    width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;

  padding:15px 10px;

}
.col23{
width: 50%;

padding:15px 10px;
float: right;
}
.col{
    float: left;
}
/*
::placeholder{
    text-align: center;
}
option{
    align-items: center;
}*/
.check{
    float: right;

}
.span-col2{
    margin-right: 30%;
}